<div class="card-body"
    <p>A 4 km de Pézenas, au coeur des terrasses de l'Hérault dans le Languedoc, venez passer quelques instants au domaine vigneron TERRES EN COULEURS.</p>
    <p>Dégustation, vente des vins, visite des vignes et de la cave sont au rendez-vous.</p>
    <p>Nathalie, Patrick GOMA et leurs enfants Vianney et Anaïs vous accueillent au domaine avec plaisir :</p>
    <ul>
        <li>les jours de semaine sauf le mercredi de 18.30 à 20h,</li>
        <li>les samedis et dimanches de 15 à 20h.</li>
    </ul>
</div>


