<form class="form-inline">
    <div class="form-group">
        <input id="identifiant" name="identifiant" placeholder="identifiant">
    </div>
    <div class="form-group">
        <input id="mot_de_passe" type="password" name="mot_de_passe" placeholder="mot de passe">
    </div>
    <input id="connexion" class="btn" type="submit" value="Connexion">
</form>