<form class="d-md-inline-flex no-gutters">
    <div class="form-group col-12 no-gutters col-md-3">
        <input class="col-12 no-gutters" id="identifiant" name="identifiant" placeholder="identifiant">
    </div>
    <div class="form-group col-12 col-md-3 no-gutters">
        <input class="col-12 no-gutters" id="mot_de_passe" type="password" name="mot_de_passe" placeholder="mot de passe">
    </div>
    <input id="connexion" class="col-12 col-md-3 no-gutters btn mb-3" type="submit" value="Connexion">
</form>